### 1. A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

#### In our given problem 
Ho:	There is no significance difference b/w two different cutlets from two units.


Ha:	Yes, there is a significance difference b/w two different cutlets from two units.
	
    
    And the problem talks about diameter of a cutlet so it could be smaller or bigger so itâ€™s a Two tail test.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import scipy
from scipy import stats

In [3]:
df = pd.read_csv('Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [5]:
df.describe().T

        count      mean       std     min     25%     50%      75%     max
Unit A   35.0  7.019091  0.288408  6.4376  6.8315  6.9438  7.28055  7.5169
Unit B   35.0  6.964297  0.343401  6.0380  6.7536  6.9399  7.19500  7.5459

In [6]:
df.mean()

Unit A    7.019091
Unit B    6.964297
dtype: float64

In [7]:
df.median()

Unit A    6.9438
Unit B    6.9399
dtype: float64

In [8]:
df.var()

Unit A    0.083179
Unit B    0.117924
dtype: float64

In [9]:
df.std()

Unit A    0.288408
Unit B    0.343401
dtype: float64

In [10]:
stats.ttest_ind(df['Unit A'],df['Unit B'], equal_var=False)

Ttest_indResult(statistic=0.7228688704678062, pvalue=0.4723132481914539)

Here we got p value is higher than 0.05 so that we can conclude that there is no statement called P low null go here so we can say P is high so there is no significant difference between two units of cutlet's.

In [11]:
stats.ttest_rel(df['Unit A'],df['Unit B'])

Ttest_relResult(statistic=0.7536787225614323, pvalue=0.45623007680384076)

### For my reference

In [12]:
stats.ttest_ind(df['Unit A'],df['Unit B'], equal_var=True)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [13]:
scipy.stats.ttest_1samp(df, 0.5)

Ttest_1sampResult(statistic=array([133.72514028, 111.36641112]), pvalue=array([7.29912304e-48, 3.62122155e-45]))

In [14]:
tstat, pvalue = scipy.stats.ttest_1samp(df, 0.5)

In [15]:
pvalue/2

array([3.64956152e-48, 1.81061078e-45])