##### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

##### Ho: There is no defective % difference among the 4 centres across the globe.

##### Ha: There is a significant degective % difference among the 4 centres across the globe.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import scipy
from scipy import stats

In [2]:
df = pd.read_csv('Costomer+OrderForm.csv')
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [4]:
df.describe().T

             count unique         top freq
Phillippines   300      2  Error Free  271
Indonesia      300      2  Error Free  267
Malta          300      2  Error Free  269
India          300      2  Error Free  280

In [5]:
for i in df.columns:
    print(df[i].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [6]:
new_lst = np.array([[271,267,269,280],[29,33,31,20]])

In [7]:
# Dividing it by 3 because we have overall of 300 rows and to make it easy we made it as of 100
new_lst1 = new_lst/3

In [8]:
stats.chi2_contingency(new_lst1)

(1.2863202286067847,
 0.732384008651219,
 3,
 array([[90.58333333, 90.58333333, 90.58333333, 90.58333333],
        [ 9.41666667,  9.41666667,  9.41666667,  9.41666667]]))

##### We got P value as 0.7 and it is more than 0.05 and we can conclude that Alternate Hypothesis stays and The Defective % is similar across centers.


##### Yes, There is a defective % varies from centre to centre.